:root {
	--primaryColor: #17355b;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	font-family: var(--font-quicksand);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 70px;
}

h1 {
	font-size: 48px;
}
