.startWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.startBanner {
	width: 100%;
	color: var(--primaryColor);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.h1Small {
	font-size: 36px;
}

.areasDiv {
	display: flex;
	gap: 80px;
	padding: 20px;
}

.areas {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--primaryColor);
	color: white;
	padding: 50px;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.spacer {
	display: flex;
	gap: 10px;
	color: var(--primaryColor);
}

.contactUsDiv {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contactUs {
	padding: 20px;
}
